@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Rose:wght@300..700&display=swap');

@font-face {
    font-family: 'Sakire';
    src: url('/fonts/Sakire.ttf') format('opentype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Neue';
    src: url('/fonts/HelveticaNeue-MediumExt.otf') format('opentype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box !important;
    list-style-type: none !important;
    text-decoration: none !important;
}

figcaption {
    display: none;
}

#body-index {
    background-color: #1C1715;
    width: 100%;
    height: 100%;
}

/* Header */

#header-delivery {
    width: 100%;
    height: 5.5rem;
    padding: 20px 4%;
    position: absolute;
    inset: 0;
}

@media(min-width: 992px) {
    #header-delivery {
        width: 100%;
        height: 5.5rem;
        padding: 20px 3%;
        position: absolute;
        inset: 0;
    }
}

#nav-delivery {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-header-delivery {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

@media(min-width: 992px) {
    #logo-header-delivery {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }

}

#search-input-delivery {
    width: 140px;
    height: 34px;
    background-color: #372A2A;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 9px;
    padding-left: 10px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    transition: box-shadow 0.3s ease;
}

@media(min-width: 992px) {
    #search-input-delivery {
        width: 270px;
        height: 40px;
        padding-left: 8px;
    }
}

#icon-search {
    height: 16px;
    color: #FFFFFF;
}

@media(min-width: 992px) {
    #icon-search {
        width: 20px;
        height: 20px;
    }
}

#input-search-delivery {
    background: none;
    outline: none;
    border: none;
    width: 83%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    font-family: poppins, sans-serif;
}

#input-search-delivery::placeholder {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    font-family: poppins, sans-serif;
    transition: .2s ease;
}

#input-search-delivery:focus::placeholder {
    color: transparent;
}

#list-desordened-delivery {
    display: none;
}

@media(min-width: 992px) {
    #list-desordened-delivery {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(100px, 8.33vw, 120px);
    }
}

#list-desordened-delivery li a {
    font-family: 'Helvetica-Neue';
    font-size: 14px;
    color: #FFFFFF;
    position: relative;
}

#list-desordened-delivery li a::before {
    content: "";
    position: absolute;
    bottom: -4px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: #FFFFFF;
    transform-origin: center;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
    transition: .3s ease;
}

#list-desordened-delivery li a:hover::before {
    transform: scaleX(1);
}

#container-cart-delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    position: relative;
}

#link-cart-delivery {
    width: 20px;
    height: 20px;
}

#icon-handbag {
    height: 20px;
    color: #FFFFFF;
}

#cart-value {
    font-family: "Red Rose", serif;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
}

#cart-quantity {
    position: absolute;
    top: -10px;
    left: 32px;
    width: 20px;
    height: 20px;
    background-color: #DD5F35;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica-Neue";
    font-size: 10px;
    font-weight: 500;
    color: #FFFFFF;
}

#container-user {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

#icon-user {
    height: 20px;
    cursor: pointer;
    color: #FFFFFF;
}

#name-user {
    display: none;
    width: 100%;
    font-family: 'Red Rose', serif;
    font-size: 12px;
    color: #FFFFFF;
}

@media(min-width: 992px) {
    #name-user {
        display: block;
        width: 100%;
        font-family: 'Red Rose', serif;
        font-size: 12px;
        color: #FFFFFF;
    }
}

#container-lojista {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

#icon-shield {
    height: 20px;
    cursor: pointer;
    color: #FFFFFF;
}

#name-lojista {
    display: none;
    width: 100%;
    font-family: 'Red Rose', serif;
    font-size: 12px;
    color: #FFFFFF;
}

@media(min-width: 992px) {
    #name-lojista {
        display: block;
        width: 100%;
        font-family: 'Red Rose', serif;
        font-size: 12px;
        color: #FFFFFF;
    }
}

.icon-tabler-menu-deep {
    width: 26px;
    display: block;
    color: #FFFFFF;
    cursor: pointer;
}

@media(min-width: 992px) {
    .icon-tabler-menu-deep {
        display: none;
    }
}

/* Main | Hero Section */

#section-carrossel-delivery {
    width: 100%;
    height: 445px;
    background-image: url(/Images/background-hero-section.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media(min-width: 992px) {
    #section-carrossel-delivery {
        width: 100%;
        height: 100vh;
        background-image: url(/Images/background-hero-section.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

.carrossel-container {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    position: relative;
}

@media(min-width: 992px) {
    .carrossel-container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
    }
}

.carrossel-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: visible;
    width: 100%;
}

.carrossel-cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.carrossel-card {
    position: absolute;
    width: 240px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(40px);
    transition:
        transform 1s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.55s cubic-bezier(0.4, 0, 0.2, 1),
        filter 0.55s cubic-bezier(0.4, 0, 0.2, 1);
}

@media(min-width: 992px) {
    .carrossel-card {
        width: 650px;
        height: 350px;
        padding: 12px;
    }
}

.carrossel-card.is-active {
    transform: translateX(0) scale(1) rotate(0deg);
    opacity: 1;
    filter: none;
    z-index: 2;
    cursor: default;
}

.carrossel-card.is-prev {
    transform: translateX(-235px) scale(0.84) rotate(-2deg);
    opacity: .2;
    filter: blur(0.5px);
    z-index: 1;
}

.carrossel-card.is-next {
    transform: translateX(235px) scale(0.84) rotate(2deg);
    opacity: .2;
    filter: blur(0.5px);
    z-index: 1;
}

@media (min-width: 992px) {

    .carrossel-card.is-prev {
        transform: translateX(-620px) scale(0.84) rotate(-2deg);
        cursor: pointer;
    }

    .carrossel-card.is-next {
        transform: translateX(620px) scale(0.84) rotate(2deg);
        cursor: pointer;
    }
}

.card-image {
    position: absolute;
    top: 0;
    left: -110px;
    width: 100%;
    height: 160px;
    overflow: hidden;
    object-fit: contain;
}

.carrossel-card:nth-child(1) .card-image {
    position: absolute;
    top: 0;
    left: -130px;
    width: 100%;
    height: 160px;
    overflow: hidden;
    object-fit: contain;
}

.carrossel-card:nth-child(2) .card-image {
    position: absolute;
    top: 0;
    left: -130px;
    width: 100%;
    height: 160px;
    overflow: hidden;
    object-fit: contain;
}

@media(min-width: 992px) {
    .card-image {
        position: initial;
        width: 100%;
        height: 336px;
        overflow: hidden;
        object-fit: contain;
    }

    .carrossel-card:nth-child(1) .card-image {
        position: initial;
        width: 100%;
        height: 336px;
        overflow: hidden;
        object-fit: contain;
    }

    .carrossel-card:nth-child(2) .card-image {
        position: initial;
        width: 100%;
        height: 336px;
        overflow: hidden;
        object-fit: contain;
    }
}


.carrossel-card-content {
    position: absolute;
    left: 25px;
    width: 100%;
    display: flex;
    gap: 6px;
    align-items: center;
    flex-direction: column;
}

@media(min-width: 992px) {
    .carrossel-card-content {
        position: initial;
        width: 100%;
        display: flex;
        gap: 20px;
        align-items: center;
        flex-direction: column;
    }
}

.container-name-title-delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.name-product-delivery {
    position: absolute;
    top: -8px;
    left: -20px;
    width: 100%;
    font-family: 'Sakire';
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
}

@media(min-width: 992px) {
    .name-product-delivery {
        position: absolute;
        top: 22px;
        left: 74px;
        width: 100%;
        font-family: 'Sakire';
        font-size: 24px;
        color: #FFFFFF;
        text-align: center;
    }
}

.carrossel-card:nth-child(3) .name-product-delivery {
    position: absolute;
    top: -8px;
    left: -29px;
}

@media(min-width: 992px) {
    .carrossel-card:nth-child(3) .name-product-delivery {
        position: absolute;
        top: 22px;
        left: 6px;
    }

    .carrossel-card:nth-child(1) .name-product-delivery {
        position: absolute;
        top: 22px;
        left: 57px;
    }
}

.title-cta-product-delivery {
    width: 75%;
    font-family: 'Red Rose', serif;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}

@media(min-width: 992px) {
    .title-cta-product-delivery {
        width: 80%;
        font-family: 'Red Rose', serif;
        font-weight: 330;
        font-size: 30px;
        color: #FFFFFF;
        text-align: center;
    }
}

.price-product-delivery {
    width: 100%;
    font-family: 'Helvetica-Neue', serif;
    font-size: 16px;
    color: #DD5F35;
    text-align: center;
    text-shadow: 0px 0px 2px #1C1715;
}

@media(min-width: 992px) {
    .price-product-delivery {
        width: 100%;
        font-family: 'Helvetica-Neue', serif;
        font-size: 20px;
        color: #DD5F35;
        text-align: center;
        text-shadow: 0px 0px 2px #1C1715;
    }
}

.desc-product-delivery {
    width: 60.5%;
    font-family: poppins, serif;
    font-weight: 500;
    font-size: 8px;
    color: #FFFFFF;
    text-align: center;
}

@media(min-width: 992px) {
    .desc-product-delivery {
        width: 60.5%;
        font-family: poppins, serif;
        font-weight: 330;
        font-size: 16px;
        color: #FFFFFF;
        text-align: center;
    }
}

.container-buttons-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn-view-details {
    background: none;
    outline: none;
    border: none;
    font-family: 'Helvetica-Neue';
    font-size: 8px;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
}

.btn-view-details::before {
    content: "";
    position: absolute;
    bottom: -4px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: #FFFFFF;
    transform-origin: center;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
    transition: .3s ease;
}

.btn-view-details:hover::before {
    transform: scaleX(1);
}

@media(min-width: 992px) {
    .btn-view-details {
        font-size: 14px;
    }
}

.btn-add-cart-mobile {
    width: 70px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DD5F35;
    outline: none;
    border: none;
    font-family: 'Helvetica-Neue';
    font-size: 8px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-add-cart-desktop {
    padding: 12px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DD5F35;
    outline: none;
    border: none;
    font-family: 'Helvetica-Neue';
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    transition: .3s ease;
}

.btn-add-cart-desktop:hover {
    opacity: .7;
}

.btn-add-cart-desktop {
    display: none;
}

@media(min-width: 992px) {
    .btn-add-cart-mobile {
        display: none;
    }
}

@media(min-width: 992px) {
    .btn-add-cart-desktop {
        display: flex;
    }
}

/* Modal Overlay */

.modal-overlay {
    position: fixed;
    display: flex;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
}

@media(min-width: 992px) {
    .modal-overlay {
        display: none;
    }
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: all;
}

.modal-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #251C1C;
    width: 100%;
    height: 40vh;
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.modal-menu.is-open {
    transform: translateX(0);
}

.modal-close {
    background: none;
    outline: none;
    border: none;
}

#icon-close {
    color: #FFFFFF;
    height: 24px;

}

#header-modal-overlay {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6)
}

#modal-overlay-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-overlay-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#modal-overlay-nav ul li a {
    font-family: 'Helvetica-Neue';
    font-size: 14px;
    color: #FFFFFF;
    position: relative;
}

#modal-overlay-nav li a::before {
    content: "";
    position: absolute;
    bottom: -4px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: #FFFFFF;
    transform-origin: center;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
    transition: .3s ease;
}

#modal-overlay-nav li a:hover::before {
    transform: scaleX(1);
}

/* Seção de categorias dos produtos */

#categories-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    padding: 32px;
    overflow: hidden;
    background-color: #251C1C;
}

@media(min-width: 992px) {
    #categories-section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        padding: 32px;
        overflow: hidden;
    }
}

#title-explore-categories {
    font-family: "Helvetica-Neue";
    font-size: 16px;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, #251C1C 0%, #C9542C 50%, #251C1C 100%) .5;
}

@media(min-width: 992px) {
    #title-explore-categories {
        font-family: "Helvetica-Neue";
        font-size: 20px;
        color: #FFFFFF;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(90deg, #251C1C 0%, #C9542C 50%, #251C1C 100%) .5;
    }
}

#container-boxes-categories {
    width: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    justify-items: center;
    gap: 16px;
    padding: 0;
}

@media(max-width: 599px) {
    #container-boxes-categories .box-category:nth-child(5) {
        grid-column: 1 / -1;
    }
}

@media(min-width: 600px) and (max-width: 991px) {
    #container-boxes-categories {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
}

@media(min-width: 992px) {
    #container-boxes-categories {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(16px, 2.22vw, 32px);
        padding: 48px;
    }
}

.box-category {
    width: 164px;
    max-height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    position: relative;
    cursor: pointer;
}

.box-category:hover .background-half {
    background: #DD5F35;
}

.box-category:hover .img-category {
    transform: scale(1.05);
}

.box-category figure {
    z-index: 2;
}

.background-half {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 72px;
    background-color: #B14825;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: .3s ease;
    z-index: 1;
}

.img-category {
    width: 135px;
    height: 105px;
    object-fit: contain;
    transition: .3s ease;
}

.name-category {
    font-family: poppins, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    z-index: 2;
}

#container-btn-prev-next-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#btn-prev-categories,
#btn-next-categories {
    outline: none;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    background-color: #DD5F35;
    font-family: "Helvetica-Neue";
    font-size: 10px;
    color: #FFFFFF;
    transition: .3s ease;
}

#btn-prev-categories:hover,
#btn-next-categories:hover {
    opacity: .7;
}

/* Seção de produtos populares (página index) */

#section-popular-products {
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

@media(min-width: 992px) {
    #section-popular-products {
        width: 100%;
        padding: 32px 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 100px;
    }
}

#title-section-popular-products {
    font-family: "Helvetica-Neue";
    font-size: 16px;
    color: #FFFFFF;
}

@media(min-width: 992px) {
    #title-section-popular-products {
        font-family: "Helvetica-Neue";
        font-size: 20px;
        color: #FFFFFF;
    }
}

#container-popular-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 16px;
}

@media(min-width: 992px) {
    #container-popular-products {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 30px;
    }
}

.box-popular-product {
    width: 160px;
    height: 160px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.2);
    position: relative;
    padding: 15px;
    transition: .3s ease;
    cursor: pointer;
}

.box-popular-product:hover {
    transform: scale(1.02);
}

@media(min-width: 992px) {
    .box-popular-product {
        width: 21vw;
        height: 301px;
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(40px);
        box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.2);
        position: relative;
        padding: 10px;
    }
}

.img-popular-product {
    position: absolute;
    left: 37px;
    top: -37px;
    width: 88px;
    height: 88px;
    object-fit: contain;
}

@media(min-width: 992px) {
    .img-popular-product {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -80px;
        width: 155px;
        height: 155px;
        object-fit: contain;
    }
}

.box-content-popular-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-top: 40px;
}

@media(min-width: 992px) {
    .box-content-popular-product {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        padding-top: 85px;
    }
}

.name-popular-product {
    font-family: "Sakire";
    font-size: 10px;
    color: #FFFFFF;
}

@media(min-width: 992px) {
    .name-popular-product {
        font-family: "Sakire";
        font-size: clamp(10px, 1.4vw, 20px);
        color: #FFFFFF;
        text-align: center;
    }
}

.price-popular-product {
    font-family: "Helvetica-Neue";
    font-size: 10px;
    color: #FFFFFF;
}

@media(min-width: 992px) {
    .price-popular-product {
        font-family: "Helvetica-Neue";
        font-size: 20px;
        color: #FFFFFF;
    }
}

.desc-popular-product {
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-size: 8px;
    color: #FFFFFF;
    text-align: center;
}

@media(min-width: 992px) {
    .desc-popular-product {
        font-family: poppins, sans-serif;
        font-weight: 300;
        font-size: clamp(8px, 1.11vw, 16px);
        color: #FFFFFF;
        text-align: center;
    }
}

.btn-add-cart-popular-product-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    width: 130px;
    height: 30px;
    border-radius: 8px;
    background-color: #DD5F35;
    font-family: "Helvetica-Neue";
    font-size: 10px;
    color: #FFFFFF;
    transition: .3s ease;
}

.btn-add-cart-popular-product-mobile:hover,
.btn-add-cart-popular-product-desktop:hover {
    opacity: .7;
}

.btn-add-cart-popular-product-desktop {
    display: none;
}

@media(min-width: 992px) {
    .btn-add-cart-popular-product-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        width: 18vw;
        height: 40px;
        border-radius: 8px;
        background-color: #DD5F35;
        font-family: "Helvetica-Neue";
        font-size: clamp(10px, 1vw, 14px);
        color: #FFFFFF;
        transition: .3s ease;
        cursor: pointer;
    }

    .btn-add-cart-popular-product-mobile {
        display: none;
    }
}

/* Footer */

#footer-delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #372A2A;
    padding: 20px 4%;
}

@media(min-width: 992px) {
    #footer-delivery {
        padding: 20px 5%;
    }
}

#section-footer-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #FFFFFF;
}

@media(min-width: 992px) {
    #section-footer-info {
        justify-content: center;
        gap: clamp(150px, 14.5vw, 210px);
    }
}

#section-footer-slogan-social-media {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media(min-width: 992px) {
    #section-footer-slogan-social-media {
        flex-direction: row;
        gap: clamp(150px, 14.5vw, 210px);
    }
}

#logo-footer-delivery {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

@media(min-width: 992px) {
    #logo-footer-delivery {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }
}

#txt-footer-slogan {
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 8px;
    color: #FFFFFF;
}

@media(min-width: 992px) {
    #txt-footer-slogan {
        font-weight: 400;
        font-size: 12px;
    }
}

#container-footer-social-media {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#title-social-media {
    font-family: "Helvetica-Neue";
    font-size: 12px;
    color: #FFFFFF;
}

@media(min-width: 992px) {
    #title-social-media {
        font-size: 20px;
    }
}

#container-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.icon-social-media-linkedin,
.icon-social-media-instagram,
.icon-social-media-facebook,
.icon-social-media-youtube {
    width: 27px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #473934;
    color: #FFFFFF;
    transition: .3s ease;
}

.icon-social-media-linkedin,
.icon-social-media-facebook {
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

.icon-social-media-instagram,
.icon-social-media-youtube {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.icon-tabler-brand-linkedin,
.icon-tabler-brand-instagram,
.icon-tabler-brand-facebook,
.icon-tabler-brand-youtube {
    width: 16px;
    height: 16px;
}

.icon-social-media-linkedin:hover,
.icon-social-media-facebook:hover {
    background-color: #B14825;
    color: #372A2A;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
}

.icon-social-media-instagram:hover,
.icon-social-media-youtube:hover {
    background-color: #B14825;
    color: #372A2A;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

@media(min-width: 992px) {

    .icon-social-media-linkedin,
    .icon-social-media-instagram,
    .icon-social-media-facebook,
    .icon-social-media-youtube {
        width: 44px;
        height: 40px;
    }

    .icon-tabler-brand-linkedin,
    .icon-tabler-brand-instagram,
    .icon-tabler-brand-facebook,
    .icon-tabler-brand-youtube {
        width: 24px;
        height: 24px;
    }
}


#section-footer-adress-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#title-adress {
    font-family: "Helvetica-Neue";
    font-size: 12px;
    color: #FFFFFF;
}

@media(min-width: 992px) {
    #title-adress {
        font-size: 20px;
    }
}

.txt-adress-info {
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 8px;
    color: #FFFFFF;
}

@media(min-width: 992px) {
    .txt-adress-info {
        font-weight: 400;
        font-size: 12px;
    }
}

.txt-rights-reserved {
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: clamp(6px, 2vw, 8px);
    color: #FFFFFF;
    padding-top: 20px;
}

@media(min-width: 992px) {
    .txt-rights-reserved {
        font-weight: 400;
        font-size: 12px;
    }
}